:root,
#root {
    --outerWidth: 10px;
    height: 100vh;
    background: url(../../assets/img/background1.png) no-repeat;
    background-size: auto;
    box-sizing: border-box;
}

#root {
    background-image: none;
}

.css-container {
    display: flex;
    margin: calc(var(--outerWidth) * 3) auto;
    width: calc(var(--outerWidth) * 120);
    gap: 20px;
    align-items: center;

    div {
        width: calc(var(--outerWidth) * 30);
        height: calc(var(--outerWidth) * 20);
        background-color: #fff;
        box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
        border-radius: var(--outerWidth);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        font-family: cursive;
        font-weight: bold;
        color: #000;
    }
}

// 毛玻璃
.frosted-glass {
    background-color: rgba(255, 255, 255, 0.4) !important;
    backdrop-filter: blur(2px);
}

// 颜色反转效果
.color-reverse {
    height: calc(var(--outerWidth) * 5) !important;
    cursor: pointer;
    position: relative;
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 5px !important;
    overflow: hidden;

    &::before {
        position: absolute;
        content: '';
        width: calc(var(--outerWidth) * 30);
        height: calc(var(--outerWidth) * 20) !important;
        background: #fff;
        mix-blend-mode: difference;
        border-radius: 50%;
        transform: translate(-100%, 50%);
        transition: 0.3s;
    }

    &:hover::before {
        transform: translate(0, 0);
        border-radius: 0;
    }

    &:active {
        transition: 0.3s;
        transform: translateY(var(--outerWidth));
    }
}

// 流光按钮特效
.flowing-light-button {
    height: calc(var(--outerWidth) * 5) !important;
    cursor: pointer;
    position: relative;
    color: #fff !important;
    border-radius: 50px !important;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        left: -5px;
        right: -5px;
        top: -5px;
        bottom: -5px;
        background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: 400%;
        filter: blur(20px);
        border-radius: 50px !important;
        z-index: -1;
    }

    &:hover {
        animation: sum 8s infinite;

        &::before {
            animation: sum 8s infinite;
        }
    }
}

@keyframes sum {
    100% {
        background-position: -400% 0;
    }
}

// 流水灯边框
.flowing-light-border {
    z-index: 10;
    position: relative;
    border-radius: 5vmin !important;
    overflow: hidden;
    background: #fff;
    span {
        color: #fff;
    }
    &::before {
        content: '';
        position: absolute;
        width: calc(var(--outerWidth) * 60);
        height: calc(var(--outerWidth) * 40);
        left: -50%;
        top: -50%;
        background: conic-gradient(transparent, #66ddf7, transparent 30%);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -2;
        animation: torate 3s linear infinite;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 1vmin;
        background-color: #000;
        border-radius: 4vmin;
        z-index: -1;
    }
}
@keyframes torate {
    to {
        transform: rotate(360deg);
    }
}
